:root {
  --green: #187828;
  --grey: #808488;
  --light-grey: #a0a4ab;
  --text: #282828;
  --white: #fdfdfd;

  /*
   * ??? remvoe
  --dark-grey: #505055;
  --red: #902818;
  --off-white: #e8ecf0;
  */
}
