.main {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

.titles {
  flex-shrink: 0;
}

.receipts {
  flex-grow: 1;
  overflow-y: auto;
}

.controls {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  font-size: var(--font-size-large);
  box-shadow:
    0 -2px 5px 0 rgb(0 0 0 / 12%),
    0 -3px 10px 0 rgb(0 0 0 / 16%);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputs input {
  border: 0;
  font-size: inherit;
  font-family: inherit;
}
