.main {
  position: fixed;
  inset: 0;
  background: var(--dark-grey);
  padding: 24px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: white;
}

.spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.title {
  flex-shrink: 0;
  padding: 16px 16px 4px;
  color: var(--grey);
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 8px;
  border-radius: 4px;
  background: var(--off-white);
  overflow-y: auto;
}

.all + .title {
  margin-top: 8px;
}

.recent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 8px 8px;
  border-radius: 4px;
  background: var(--off-white);
}

.controls {
  margin-top: 8px;
  flex-shrink: 0;
  padding: 16px;
  box-shadow:
    0 -2px 5px 0 rgb(0 0 0 / 12%),
    0 -3px 10px 0 rgb(0 0 0 / 16%);
}

.name {
  padding: 6px 32px 6px 8px;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
