.main {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  margin: 24px;
  gap: 16px;
}

.spacer {
  flex-grow: 1;
}

.payees {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  background:
    linear-gradient(var(--white), transparent),
    linear-gradient(transparent, var(--white)) center bottom,
    linear-gradient(var(--shadow), transparent),
    linear-gradient(transparent, var(--shadow)) center bottom;
  background-repeat: no-repeat;
  background-size: 100% 24px, 100% 24px, 100% 8px, 100% 8px;
  background-attachment: local, local, scroll, scroll;
}

.payee {
  display: flex;
  align-items: center;
  gap: 8px;
}

.payee button {
  background: transparent;
}

.payee .icon {
  width: 48px;
  background: transparent;
  color: var(--text);
  color: cyan;
  border: 1px solid red;

  /* ??? fix button styling
  width: 48px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 4px 8px var(--white);
  color: red;
  */
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search {
  display: flex;
  gap: 8px;
}

.search input {
  flex-grow: 1;
  font: inherit;
  padding: 8px 12px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.search button {
  color: #def;
  background: transparent;
  border: 1px solid blue;
}

.search .icon {
  width: 32px;
  border: 1px solid #0f0;
  color: red;

  /* ??? fix button styling
   */
}

.buttons {
  border: 1px solid orange;
}

.buttons button {
  border: 1px solid cyan;

  /* ??? fix button styling
   */
}
