.main {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  margin: 24px;
  gap: 16px;
}

.spacer {
  flex-grow: 1;
}

.payees {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;

  /* ??? fix shadow */
  background:
    /* Shadow Cover TOP */
    linear-gradient(
      yellow 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      cyan 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 255, 0.2),
      rgba(0, 0, 255, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(255, 0, 0, 0.2),
      rgba(255, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search {
  display: flex;
  gap: 8px;
}

.search input {
  flex-grow: 1;
  font: inherit;
  padding: 8px 12px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.clear {
  color: #def;
  background: transparent;
  border: 1px solid blue;
}

.icon {
  width: 32px;
  color: red;
  border: 1px solid #0f0;
}
