.main {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.spacer {
  flex-grow: 1;
}

.payees {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
}

.payee {
  display: flex;
  align-items: center;
  gap: 4px;
}

.x {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
}

.x .icon {
  width: 32px;
  color: var(--text);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.search {
  display: flex;
  gap: 8px;
}

.search input {
  flex-grow: 1;
  font: inherit;
  padding: 8px 12px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons button {
  flex-grow: 1;
  font-size: var(--font-size-header);
}
