.main {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  padding: 18px 24px;
  border-bottom: 1px solid var(--green);
}

.title {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: var(--green);
  font-family: var(--title-font);
  font-size: var(--font-size-header);
}

.version {
  color: var(--grey);
  font-size: var(--font-size-version);
}

.receipts {
  padding-top: 18px;
  padding-bottom: 80px;
  overflow-y: auto;
}

.receipts > div:last-child > div {
  border-bottom: 1px solid var(--light-grey);
}

.main button {
  width: 48px;
  height: 48px;
  box-shadow: 0 0 4px 8px var(--white);
}

.add {
  position: fixed;
  left: 24px;
  bottom: 24px;
}

.remove {
  position: fixed;
  right: 24px;
  bottom: 24px;
}
