.main {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.receipts {
  background: var(--very-light-grey);
  padding: 50vh 0;
}

.receipts > div:last-child > div {
  border-bottom: 1px solid var(--light-grey);
}

.done {
  height: var(--receipt-height);
  position: fixed;
  left: 0;
  right: 0;
  top: calc(50vh + 0.5 * var(--receipt-height) + 1px);
  display: flex;
  gap: 8px;
  margin: 0 24px;
  background: var(--very-light-grey);
}

.done button {
  flex-grow: 1;
  font-size: var(--font-size-header);
}

.totals {
  flex-grow: 1;
  padding: 18px 12px;
}

.totals > * {
  height: 100%;
}
