@import url("./styles/colors.css");
@import url("./styles/fonts.css");

:root {
  --font-size-small: 14px;
  --font-size: 16px;
  --font-size-medium: 18px;
  --font-size-large: 22px;
  --padding: 16px;
}

html,
body {
  color: var(--text);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

button {
  background: var(--green);
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: var(--font-size);
  padding: 8px 16px;
}
