@import url("./styles/colors.css");
@import url("./styles/fonts.css");

:root {
  --font-size: 20px;
  --font-size-header: 30px;
  --font-size-version: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--text);
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
}

button {
  padding: 8px 12px;
  border: 0;
  border-radius: 5px;
  background: var(--dark-grey);
  color: var(--white);
  font: inherit;
}

button:disabled {
  background: var(--light-grey);
}

button.round {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
}

.shadows {
  background:
    linear-gradient(var(--white), transparent),
    linear-gradient(transparent, var(--white)) center bottom,
    linear-gradient(var(--shadow), transparent),
    linear-gradient(transparent, var(--shadow)) center bottom;
  background-repeat: no-repeat;
  background-size: 100% 24px, 100% 24px, 100% 8px, 100% 8px;
  background-attachment: local, local, scroll, scroll;
}
